#Task 1


Registration / referral ID - SIRSS2214

Full Name: Diptesh Milind Chaudhari

In [1]:
for i in range(1,6):
  a=i
  for j in range(i):
    print(a," ",end="")
    a=a-1
  print("\n")

1

2  1

3  2  1

4  3  2  1

5  4  3  2  1

In [2]:
for i in range(5,0,-1):
  for j in range(i):
    print("5 ",end="")
  print("\n")

5 5 5 5 5

5 5 5 5

5 5 5

5 5

5

In [3]:
for i in range(5,0,-1):
  a=0
  for j in range(i+1):
    print(a," ",end="")
    a=a+1
  print("\n")

0  1  2  3  4  5

0  1  2  3  4

0  1  2  3

0  1  2

0  1

In [4]:
for i in range(1,6):
  for j in range(i):
    print((i*2)-1," ",end="")
  print("\n")

1

3  3

5  5  5

7  7  7  7

9  9  9  9  9

In [5]:
a=0
for i in range(1,5):
  a=a+i
  x=a
  for j in range(i):
    print(x," ",end="")
    x=x-1
  print("\n")

1

3  2

6  5  4

10  9  8  7

In [6]:
def fac(n):
  f=1
  while(n>1):
    f=f*(n)
    n=n-1
  return f

def c(n,r):
  return int(fac(n)/(fac(r)*fac(n-r)))
  

for i in range(0,7):
  x=0
  for j in range(i+1):
    print(c(i,x)," ",end="")
    x=x+1
  print("\n")

1

1  1

1  2  1

1  3  3  1

1  4  6  4  1

1  5  10  10  5  1

1  6  15  20  15  6  1

In [7]:
for i in range(1,6):
  for j in range(i):
    print(i," ",end="")
    x=i+1
  for k in range(5-i):
    print(x," ",end="")
    x=x+1
  print('\n')

1  2  3  4  5

2  2  3  4  5

3  3  3  4  5

4  4  4  4  5

5  5  5  5  5

In [8]:
for i in range(1,9):
  x=i
  for j in range(i):
    print(x," ",end="")
    x=x+i
  print("\n")

1

2  4

3  6  9

4  8  12  16

5  10  15  20  25

6  12  18  24  30  36

7  14  21  28  35  42  49

8  16  24  32  40  48  56  64

In [9]:
for i in range(0,6):
  for j in range(i):
    print(" ",end="")
  for k in range(6-i):
   print("* ",end="")
  print("\n")

* * * * * *

 * * * * *

  * * * *

   * * *

    * *

     *

In [10]:
for i in range(0,8):
  for j in range(8-i):
    print(" ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")

       *

      * *

     * * *

    * * * *

   * * * * *

  * * * * * *

 * * * * * * *

In [11]:
for i in range(1,7):
  for j in range(i):
    print("* ",end="")
  print("\n")

print("\n")

for i in range(6,0,-1):
  for j in range(i):
    print("* ",end="")
  print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *



* * * * * *

* * * * *

* * * *

* * *

* *

*

In [12]:
for i in range(1,6):
  for j in range(i):
    print("* ",end="")
  print("\n")
for i in range(4,0,-1):
  for j in range(i):
    print("* ",end="")
  print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [13]:
for i in range(0,6):
  for j in range(6-i):
    print("  ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")
for i in range(1,5):
  for j in range(i+1):
    print("  ",end="")
  for k in range(5-i):
   print("* ",end="")
  print("\n")

          *

        * *

      * * *

    * * * *

  * * * * *

    * * * *

      * * *

        * *

          *

In [14]:
for i in range(1,6):
  for j in range(i):
    print(" ",end="")
  for k in range(6-i):
   print("* ",end="")
  print("\n")
for i in range(0,6):
  for j in range(6-i):
    print(" ",end="")
  for k in range(i):
   print("* ",end="")
  print("\n")

 * * * * *

  * * * *

   * * *

    * *

     *



     *

    * *

   * * *

  * * * *

 * * * * *

In [15]:
for i in range(0,8):

  for j in range(8-i):
    print("* ",end="")
  for k in range(i*2):
    print("_ ",end="")
  for l in range(8-i):
    print("* ",end="")
  print("\n")

* * * * * * * * * * * * * * * *

* * * * * * * _ _ * * * * * * *

* * * * * * _ _ _ _ * * * * * *

* * * * * _ _ _ _ _ _ * * * * *

* * * * _ _ _ _ _ _ _ _ * * * *

* * * _ _ _ _ _ _ _ _ _ _ * * *

* * _ _ _ _ _ _ _ _ _ _ _ _ * *

* _ _ _ _ _ _ _ _ _ _ _ _ _ _ *